<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true">
            <name>algolia-application-id</name>
            <label>Application ID</label>
        </element>
        <element required="true">
            <name>algolia-search-only-api-key</name>
            <label>Search-Only API Key</label>
        </element>
        <element required="true">
            <name>algolia-admin-api-key</name>
            <label>Admin API Key</label>
        </element>
        <element type="text" required="true">
            <name>index-prefix-name</name>
            <label>Index prefix name</label>
            <value>swalgolia</value>
            <description>This prefix is used as prefix for your Algolia indidex for this shop. If you have multiple shops on one Algolia account, please set at unique prefix for each shop system.</description>
        </element>
        <element type="number" required="false">
            <name>limit-indexed-products-for-test</name>
            <label>Limit number of indexed products for test purposes (0 = no limitation)</label>
            <value>0</value>
        </element>
        <element required="true">
            <name>index-replicas-custom-ranking-attributes</name>
            <label>Custom ranking attributes for replica / slave indices (ordered by importance)</label>
            <!-- @TODO find a more elegant (BE) solution for naming the additional replica indices (multi-language) -->
            <value>desc(sales),asc(price)|asc(price),desc(sales)|desc(price),desc(sales)</value>
            <description>Define the ordering options that should be available on the SERP page.</description>
        </element>
        <element type="number" required="true">
            <name>sync-batch-size</name>
            <label>Sync batch size</label>
            <value>100</value>
        </element>
        <element type="number" required="true">
            <name>algolia-connection-timeout</name>
            <label>Algolia Connection timeout (in seconds)</label>
            <value>10</value>
        </element>
        <element type="boolean" required="true">
            <name>show-algolia-logo</name>
            <label>Show Algolia logo next to the search results (required for free accounts)?</label>
            <value>true</value>
        </element>
        <element type="boolean" required="true">
            <name>show-autocomplete-price</name>
            <label>Show the article price in autocomplete results?</label>
            <value>false</value>
        </element>
        <element type="number">
            <name>lastSwAlgoliaBacklogId</name>
            <label>Last Processed Algolia BacklogID</label>
            <options>
                <hidden>true</hidden>
            </options>
        </element>
    </elements>
</config>