<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="text" required="true">
            <name>algolia-application-id</name>
            <label>Application ID</label>
            <value></value>
        </element>
        <element type="text" required="true">
            <name>algolia-search-only-api-key</name>
            <label>Search-Only API Key</label>
            <value></value>
        </element>
        <element type="text" required="true">
            <name>algolia-admin-api-key</name>
            <label>Admin API Key</label>
            <value></value>
        </element>
        <element type="text" required="true">
            <name>index-prefix-name</name>
            <label>Index prefix name</label>
            <value>swalgolia</value>
        </element>
        <element type="text" required="true">
            <name>blocked-article-attributes</name>
            <label>Blocked article attributes</label>
            <value>id,articleID,articledetailsID</value>
        </element>
        <element type="number" required="true">
            <name>sync-batch-size</name>
            <label>Sync batch size</label>
            <value>10</value>
        </element>
        <element type="number" required="true">
            <name>algolia-connection-timeout</name>
            <label>Algolia Connection timeout (in seconds)</label>
            <value>10</value>
        </element>
        <element type="boolean" required="true">
            <name>show-algolia-logo</name>
            <label>Show Algolia logo next to the search results (required for free accounts)?</label>
            <value>true</value>
        </element>
    </elements>
</config>